!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title さくらマーケット
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      %header
        - if yield(:header).empty?
          = render 'header'
        - else
          = yield :header
      #contents
        %article.margin-top-20
          = yield
      %footer
        - if yield(:footer).empty?
          = render 'footer'
        - else
          = yield :footer
